<head>
    <meta charset="UTF-8">
        <title>Model</title>
</head>
<body style ='font-family: arial;' bgcolor = 'D9D9D9'>
    
    <div align = "center" >
        <a href = "/">
        <img src="./static/bibliopal_transparent.png" alt="features">
        </a>
    </div>
    
    <div align = "center" >
    <img src="./static/feature_img_2.png" alt="features" width = 800>
    </div>

<form method = 'POST' action = '/modelsubmit'>
<div align = "center">
<!--style = "width: 80%;"-->
<table>
    <tr>
        <td style = "vertical-align: top";>
            <p style = "color:blue; font-size:150%; font-weight: bold; display:inline;"> Resources:</p></br>
            <p style = "font-weight: bold; display:inline; color:black">Collections:</p></br>
        </td>
        
        </td></br><td>
        
        <td style = "vertical-align: top";>
            <p style = "color:orange; font-size:150%; font-weight: bold; display:inline;">Staff:</p></br>
            <p style = "font-weight: bold; display:inline; color:transparent">Spacer:</p></br>
        </td>
        
        </td></br><td>
        
        <td style = "vertical-align: top";>
            <p style = "color:Purple; font-size:150%; font-weight: bold; display:inline;">Spending:</p></br>
            <p style = "font-weight: bold; display:inline;">Collections:</p></br>
        </td>
    </tr>
    
    <tr>
        <td style = "vertical-align: top";>
            Video: </br>
            Print books: </br>
            Audio: </br>
            eBooks:</br>
        </td>
        <td style = "vertical-align: top";>
            <input name = "feat22" type = "number" min="0" value = {{list_of_feats[21]}}></br>
            <input name = "feat3" type = "number" min="0" value = {{list_of_feats[2]}}></br>
            <input name = "feat21" type = "number" min="0" value = {{list_of_feats[20]}}></br>
            <input name = "feat7" type = "number" min="0" value = {{list_of_feats[6]}}>
        </td>
        
        <td style = "vertical-align: top";>
            Other staff:</br>
            Librarians:</br>
            Libs with Masters:</br>
        </td>
        
        <td style = "vertical-align: top";>
            <input name = "feat17" type = "number" min="0" value = {{list_of_feats[16]}}></br>
            <input name = "feat11" type = "number" min="0" value = {{list_of_feats[10]}}></br>
            <input name = "feat14" type = "number" min="0" value = {{list_of_feats[13]}}>
        </td>
        
        <td style = "vertical-align: top";>
            Print:</br>
            Other :</br>
            Electronic:</br>
        </td>
        
        <td style = "vertical-align: top";>
            <input name = "feat18" type = "number" min="0" value = {{list_of_feats[17]}}></br>
            <input name = "feat15" type = "number" min="0" value = {{list_of_feats[14]}}></br>
            <input name = "feat8" type = "number" min="0" value = {{list_of_feats[7]}}>
        </td>
    </tr>
    
    <tr>
        <td style = "vertical-align: top";>
            <p style = "font-weight: bold; display:inline;">Programs:</p></br>
        </td>
        
        <td></br></td>
        <td></br></td>
        <td></br></td>
        
        <td style = "vertical-align: top";>
            <p style = "font-weight: bold; display:inline;">Other:</p></br>
        </td>
    </tr>
    
    <tr>
        <td style = "vertical-align: top";>
            Kid's: </br>
            Other: </br>
            Young adult: </br>
        </td>
        <td style = "vertical-align: top";>
            <input name = "feat10" type = "number" min="0" value = {{list_of_feats[9]}}></br>
            <input name = "feat23" type = "number" min="0" value = {{list_of_feats[22]}}></br>
            <input name = "feat20" type = "number" min="0" value = {{list_of_feats[19]}}>
        </td>
        
        <td></br></td>
        <td></br></td>
        
        <td style = "vertical-align: top";>
            Capital:</br>
            Other operating:</br>
        </td>
        
        <td style = "vertical-align: top";>
            <input name = "feat5" type = "number" min="0" value = {{list_of_feats[4]}}></br>
            <input name = "feat16" type = "number" min="0" value = {{list_of_feats[15]}}>
        </td>
    </tr>
    
    <tr>
        <td style = "vertical-align: top";>
            <p style = "font-weight: bold; display:inline;">Services:</p></br>
        </td>
        <td></br></td>
        <td></br></td>
        <td></br></td>
        <td style = "vertical-align: top";>
            <p style = "font-weight: bold; display:inline;">Staff:</p></br>
        </td>
    </tr>
    
    <tr>
        <td style = "vertical-align: top";>
            Hours open:</br>
            Loans received:</br>
            Loans sent:</br>
            Central libraries:</br>
            Branch libraries:</br>
            Bookmobile:
        </td>
        <td style = "vertical-align: top";>
            <input name = "feat9" type = "number" min="0" value = {{list_of_feats[8]}}></br>
            <input name = "feat12" type = "number" min="0" value = {{list_of_feats[11]}}></br>
            <input name = "feat13" type = "number" min="0" value = {{list_of_feats[12]}}></br>
            <input name = "feat6" type = "number" min="0" value = {{list_of_feats[5]}}></br>
            <input name = "feat4" type = "number" min="0" value = {{list_of_feats[3]}}></br>
            <input name = "feat2" type = "number" min="0" value = {{list_of_feats[1]}}>
        </td>
        <td></br></td>
        <td></br></td>
        
        <td style = "vertical-align: top";>
            Salaries:</br>
            Benefits:</br>
        </td>
        
        <td style = "vertical-align: top";>
            <input name = "feat19" type = "number" min="0" value = {{list_of_feats[18]}}></br>
            <input name = "feat1" type = "number" min="0" value = {{list_of_feats[0]}}></br>
            <input  name = "pop" style="display: none;" type = "number" value = {{pop}}>
        </td>
    </tr>
    </table>
    </div>

    <div align = "center">
        <input name = "button" type="submit" value="submit">
    </div>
</form>


</body>
</html>
