<head>
    <meta charset="UTF-8">
        <title>Model</title>
</head>
<body>
    <form method = 'POST' action = '/model5submit'>
        Book volume: </br><input name = "bookvol" type = "number" value = {{list_of_feats[0]}}>
        </br></br>
        Local gov funding: </br><input name = "locgovfund" type = "number" value = {{list_of_feats[1]}}>
        </br></br>
        Other income: </br><input name = "othinc" type = "number" value = {{list_of_feats[2]}}>
        </br></br>
        Kid's programs offered: </br><input name = "kidprog" type = "number" value = {{list_of_feats[3]}}>
        </br></br>
        Other operating expenses: </br><input name = "othopexp" type = "number" value = {{list_of_feats[4]}}>
        </br></br>
        Total annual reference transactions: </br><input name = "ref" type = "number" value = {{list_of_feats[5]}}>
        </br></br>
        Other material expences: </br><input name = "othmatexp" type = "number" value = {{list_of_feats[6]}}>
        </br></br>
        All other paid staff: </br><input name = "othpaidstaff" type = "number" value = {{list_of_feats[7]}}>
        </br></br>
        Loans received from other libraries: </br><input name = "loanfr" type = "number" value = {{list_of_feats[8]}}>
        </br></br>
        Number of librarians: </br><input name = "libs" type = "number" value = {{list_of_feats[9]}}>
        </br></br>
        Number of librarians with masters: </br><input name = "master" type = "number" value = {{list_of_feats[10]}}>
        </br></br>
        Hours open: </br><input name = "hrs" type = "number" value = {{list_of_feats[11]}}>
        </br></br>
        Number of central libraries: </br><input name = "cent" type = "number" value = {{list_of_feats[12]}}>
        </br></br>
        Benefits paid to employees: </br><input name = "benefits" type = "number" value = {{list_of_feats[13]}}>
        </br></br>
        Loans given to other libraries: </br><input name = "loans" type = "number" value = {{list_of_feats[14]}}>
        </br></br>
        Total library programs: </br><input name = "totlibprogs" type = "number" value = {{list_of_feats[15]}}>
        </br></br>
        Video materials: </br><input name = "video" type = "number" value = {{list_of_feats[16]}}>
        </br></br>
        State gov funding: </br><input name = "stategovfund" type = "number" value = {{list_of_feats[17]}}>
        </br></br>
        <input name = "button" type="submit" value="submit">
    </form>
    
    
    
</body>
</html>
