<head>
    <meta charset="UTF-8">
        <title>Dropdown</title>
</head>

<style>
body {
        background-size: cover;
        background-image: url("../static/mainbg.png");
}

</style>

<body>
<div align = "center" >
    </br></br></br>
    <img src="../static/bibliopal_transparent_inverted.png" alt="BiblioPal Logo">
</div>
    
<div align = "center" style="height:60px;">
    </br></br>
    <font color="white" size = 6.5 face = "arial"><strong>Please choose library<strong></font></br></br>
<form class="LIBRARYSelection" method="POST" action="/model5">
    <select name = "Name" id = "variable" name= libs method="GET" action="/" style="height: 30px;width: 350;font-size:15px; color: white; background-color: black">
        {% for library in libs %}
        <option value= "{{library}}" SELECTED>{{library}}</option>"
        {% endfor %}
    </select>
    <button type="submit" value="submit" style="font-size:15px; height:30px; width:70px; border-radius:6px; color: white; background-color: black" id = "trial">Submit </button>
</form>
</div>

</body>
</html>
