<head>
    <meta charset="UTF-8">
        <title>About Olga</title>
</head>

<body style ='font-family: arial;'>
    <div align = "center" style = "font-family: palatino; font-weight: bold; font-size: 22px" >
        </br>
        </br><p style = "display: inline; font-weight: bold; font-family: verdana;">ABOUT OLGA</p></br>
         </br></br>
        <img src="./static/OM.jpeg" alt="Olga Minkina image">
        </br></br></br>
    </div>
    
    <div align = "center" >
        <table width = 60%>
            <tr><td>
                <p align = "left" style = "font-size: 20px; text-align: justify;">Hello! My name is Olga Minkina. I created BiblioPal as an Insight Data Science Fellow in January of 2019. I got my Ph.D. in molecular biology at Harvard University where I generated and analyzed genomic data to understand how information is transmitted across generations. As a postdoc at New York University, I applied clustering algorithms to highly-dimensional genomic data to study how neurons move through the developing brain.</p>
            </td></tr>
        </table>
    </div>
