<head>
    <meta charset="UTF-8">
        <title>Model</title>
</head>
<body>
    <form method = 'POST' action = '/model5submit'>
     Total staff: </br><input name = "feat1" type = "number" value = {{list_of_feats[0]}}>
     </br></br>
     Total operating expenses: </br><input name = "feat2" type = "number" value = {{list_of_feats[1]}}>
     </br></br>
     Salaries and wages: </br><input name = "feat3" type = "number" value = {{list_of_feats[2]}}>
     </br></br>
     Interlibrary loans received: </br><input name = "feat4" type = "number" value = {{list_of_feats[3]}}>
     </br></br>
     Kid's programs: </br><input name = "feat5" type = "number" value = {{list_of_feats[4]}}>
     </br></br>
     Total library programs: </br><input name = "feat6" type = "number" value = {{list_of_feats[5]}}>
     </br></br>
     Operating revenue, not including gov: </br><input name = "feat7" type = "number" value = {{list_of_feats[6]}}>
     </br></br>
     Print materials: </br><input name = "feat8" type = "number" value = {{list_of_feats[7]}}>
     </br></br>
     Hours open: </br><input name = "feat9" type = "number" value = {{list_of_feats[8]}}>
     </br></br>
     Number of central libraries: </br><input name = "feat10" type = "number" value = {{list_of_feats[9]}}>
     </br></br>
     </br><input name = "pop" style="display: none;" type = "number" value = {{pop}}>
     <input name = "button" type="submit" value="submit">
     </form>

</body>
</html>
